body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-family: sans-serif;
}

nav {
  background-color: #2b2b2b;
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 1.5em;
  padding: 10px 0px;
}

h3 {
  font-size: 1.2em;
  padding: 10px 0px;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 60%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  text-decoration: none;
}

a:link {
  color:#ffffff;
}

a:visited {
  color:#BDBDBD;
}

a:hover {
  color:#4285F4;
}

.story-text {
  padding-top: 10px;
}

p {
  padding: 10px 0px;
}

p.author {
  font-weight: bold;
}

figcaption {
  padding: 10px 0px;
  font-size: 14px;
}

article {
  line-height: 1.7em;
}
